:root {
  /* General */
  --border-radius: 5px;
  --margin: 5px;
  --padding: 5px;
  --height: 30px;
  --text-size: 15px;
  --text-weight: 500;
  --icon-size: 20px;

  /* Colors */
  --bg-color: "white";
  --tb-color: "#e0e0e0";
  --tb-text-color: "white";
  --btn-bg-hvr: "#555";
  --tab-bg-color: "white";
  --tab-line: "white";

  /* Search */
  --search-bg: "white";
  --search-text: "black";
  --search-line: "black";
  --search-bg-focus: "white";
  --search-text-focus: "black";
  --search-line-focus: "black";
}

body {
  background-color: var(--bg-color);
}

/* Search */
.search {
  display: flex;
  justify-content: center;
  margin: var(--margin);
}
.search-query {
  width: 80%;
  height: var(--height);
  border-radius: var(--border-radius);
  border: 1px solid var(--search-line);
  background-color: var(--search-bg);
  color: var(--search-text);
  padding: 0 var(--padding);
}
.search-query:focus {
  border: 1px solid var(--search-line-focus);
  background-color: var(--search-bg-focus);
  color: var(--search-text-focus);
}
.search-button {
  width: 20%;
  height: var(--height);
  border-radius: var(--border-radius);
  background-color: var(--tb-color);
}

/* Tabs */
.tab-item {
  padding: 0;
  margin: var(--margin);
  list-style-type: none;
  background-color: var(--tb-color);
  border-radius: var(--border-radius);
  height: var(--height);
  max-width: 100%;
  display: flex !important;
}
.tab-item:hover {
  background-color: var(--btn-bg-hvr);
}
.tab-item img {
  margin: auto var(--margin);
  height: var(--icon-size);
  width: var(--icon-size);
}
.tab-title {
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  color: var(--tb-text-color);
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.active {
  background-color: var(--tab-bg-color);
  color: var(--tb-text-color);
  border: 1px solid var(--tab-line);
}

/* Actions */
.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: var(--margin);
  width: calc(100% - var(--margin) * 2);
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tb-color);
  border-radius: var(--border-radius);
  height: var(--height);
  color: var(--tb-text-color);
}
.action:hover {
  background-color: var(--btn-bg-hvr);
}
.tab-back, .tab-forward {
  width: calc(40% - var(--margin) * 2);
}
.tab-reload {
  width: calc(20% - var(--margin) * 2);
  margin: var(--margin);
}
.create-tab {
  width: calc(100% - var(--margin) * 2);
  margin: var(--margin);
}
